.accordion-container {
    background-color: #126900;
    color: #fff;
    height: 200px;
  }
  .accordion {
    background-color: #4d3202;
    color: #dbb0f5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #025383;
  }
  
  .accordion:after {
    content: '\1F862'; 
    color: #dbb0f5;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\1F863";
    color: #dbb0f5
  }